/* ?? ABOUT ??????????????????????????????????????????? */

#about-title {
  scroll-margin-top: 83px;
}

.lead { font-family: "Schoolbell", cursive; font-size: 1.15rem; color: var(--ink); }
.bio  { line-height: 1.8; color: var(--ink-muted); font-size: 1rem; }

.btn-outline {
  border-radius: 19px;
  display: inline-block;
  border: 1px solid color-mix(in srgb, var(--ink) 50%, transparent);
  padding: 8px 22px;
  text-decoration: none; color: var(--ink);
  font-family: "Schoolbell", cursive; font-size: 1rem;
  transition: background 0.2s, color 0.2s;
}
.btn-outline:hover {
  background: color-mix(in srgb, var(--ink) 12%, transparent);

  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  border: 1px solid color-mix(in srgb, var(--ink) 18%, transparent);

  box-shadow:
    0 4px 30px rgba(0,0,0,0.12),
    inset 0 1px 0 rgba(255,255,255,0.08);

  /* color: var(--ink); */
  color: #595a63;

  transition:
    background 0.3s ease,
    border 0.3s ease,
    box-shadow 0.3s ease,
    transform 0.2s ease;
}

/* ?? TIMELINE ???????????????????????????????????????? */
.experience-list { display: flex; flex-direction: column; gap: 28px; }

.exp-item { display: flex; gap: 18px; align-items: flex-start; }

.exp-dot {
  transition: 0.4s;
  width: 12px; height: 12px;
  background: var(--blue); flex-shrink: 0; margin-top: 6px;
}

.exp-date  { color: var(--blue); font-size: 0.9rem; margin-bottom: 4px; transition: 0.4s;}
.exp-title { font-size: 1.05rem; color: var(--ink); margin-bottom: 6px; }
.exp-desc  {
  border-bottom: 1px solid var(--line); padding-bottom: 12px;
  color: var(--ink-muted); line-height: 1.7; font-size: 0.95rem;
}
.exp-date:hover,.exp-dot:hover{ transition: 0.4s; opacity: 60%;}

/* 
     ______                                                             __ 
   _/      \_                                                          |  \
  /   $$$$$$ \    _______  ________  __    __  ______   _______    ____| $$
 /  $$$____$$$\  /       \|        \|  \  /  \|      \ |       \  /      $$
|  $$/     \ $$\|  $$$$$$$ \$$$$$$$$ \$$\/  $$ \$$$$$$\| $$$$$$$\|  $$$$$$$
| $$|  $$$$$| $$ \$$    \   /    $$   >$$  $$ /      $$| $$  | $$| $$  | $$
| $$| $$| $$| $$ _\$$$$$$\ /  $$$$_  /  $$$$\|  $$$$$$$| $$  | $$| $$__| $$
| $$ \$$  $$| $$|       $$|  $$    \|  $$ \$$\\$$    $$| $$  | $$ \$$    $$
 \$$\ \$$$$$$$$  \$$$$$$$  \$$$$$$$$ \$$   \$$ \$$$$$$$ \$$   \$$  \$$$$$$$
  \$$\ __/   \                                                             
   \$$$    $$$                                                             
     \$$$$$$    */